body{
    background-color:darkgray;
}
#circle{
     color: tomato;
    /* width: 1080px;
    height: 960px; */
    /* background-color: rgb(250, 95, 68); */
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    vertical-align: bottom;
    /* position: absolute;  */
    margin: auto; 
}

.container{
    position: fixed;
    top: 100px;
}