body{
    background-color: #2a3652;
}
h1{
    color:#768DA9;
    font-family: Arial;
}
h2{
    color: #9ECAFB;
    font-family: 'Segoe UI';
}
p{
    color: #AFEEBF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li{
    color:#FEA7B0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:link {
    text-decoration: none;
    color: green;
}
  
a:visited {
    color: rgb(169, 169, 212);
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
p::first-letter {
    font-size: 1.5em;
}
dt{
    color: yellow;
}
dd{
    color: yellowgreen;
    font-style: oblique;
}