body { 
    background-color: yellow; 
    font-size: 50pt;
    color: magenta; 
} 
p { 
      color: orange; 
} 
.central, .item{ 
    color: green;  
} 
#item { 
    background-color: cyan; 
    font-size: 50pt;
}